ConnectionString

<connectionStrings>
    <add name="ConNew" connectionString="Data Source=111.11.11;Initial Catalog=Database;Persist Security Info=True;User ID=sa;Password=password" />
  </connectionStrings>
  
  
  in .cs
  
  public static string constr = ConfigurationManager.ConnectionStrings["ConNew"].ConnectionString;
  
   [WebMethod]
        public static string SubmitBidValue(int taskId, int bidderId, int bidValue)
        {
            try
            {
                using (SqlConnection con = new SqlConnection(constr))
                {
                    using (SqlCommand submitBidCmd = new SqlCommand("dbo.USPInsertBid"))
                    {
                        submitBidCmd.CommandType = CommandType.StoredProcedure;
                        submitBidCmd.Parameters.AddWithValue("@TaskId", taskId);
                        submitBidCmd.Parameters.AddWithValue("@BidderId", bidderId);
                        submitBidCmd.Parameters.AddWithValue("@BidValue", bidValue);
                        submitBidCmd.Connection = con;
                        con.Open();
                        int retVal = submitBidCmd.ExecuteNonQuery();
                        if (retVal == 0)
                        {
                            return "true";
                         
                        }
                        else
                        {
                            return "false";
                            
                        }
                    }
                }
            }
            catch (Exception e)
            {
                Console.WriteLine("Error : " + e);
            }
            
            return "false";
        }
